@model ReactForNet.Examples.React.Net.Models.HelloWorldViewModel

@{
    ViewBag.Title = "Index";
}
<div id="welcomeMessage">
    <h1>NOT SERVER RENDERED</h1>
</div>
@section Scripts
{
    <script src="/Scripts/templates/HelloWorld.js"></script>
    @Html.ReactInitJavaScript()
}